.glass-404 {
  margin: 0;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-image: linear-gradient(
    106.37deg,
    #d3d1d1 29.63%,
    #d2d1d1 51.55%,
    #c3c2c2 90.85%
  );
  color: var(--white);
  display: flex;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  height: 100vh;
}

.container-404 {
  height: 97%;
  width: 97%;
  display: flex;
  flex-direction: column;
  background: var(--glass);
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.container-404 h1 {
  font-size: 10em;
  margin: 0 0 0.5em;
  line-height: 10px;
}

.container-404 p {
  font-size: 1.2em;
  line-height: 26px;
}

.container-404 small {
  opacity: 0.7;
  font-size: 18px;
}

.container-404 a {
  color: var(--pink);
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .container-404 h1 {
    font-size: 8em;
  }

  .container-404 p {
    font-size: 1em;
  }
}
