.form-control {
  background: rgba(255, 255, 255, 0.307);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.899);
}

.authentication-body {
  margin: 0;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-image: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
  color: var(--white);
  display: flex;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  height: 100vh;
}
.authentication-container {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  background: #84848469;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(41, 40, 40, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
  border: 1px solid rgba(255, 255, 255, 0.55);
}

.authentication-container-wrapper {
  padding: 3em;
  margin: 2em;
  width: 400px;
  height: max-content;
  z-index: 1;
}

.authentication-container-wrapper p {
  width: 350px;
  height: fit-content;
  padding-bottom: 10px;
}

.authentication-login-text {
  text-align: center;
  font-size: 2em;
  margin-top: -2%;
}

.authentication-item {
  padding: 0.2em;
}

form {
  margin: 2em auto 2em auto;
}

.authentication-input {
  padding: 5px;
  font-size: 20px;
  height: 50px;
  width: 280px;
  margin: 15px;
  display: inline-block;
  place-items: center;
  background: rgba(255, 255, 255, 0.17);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
  border: 1px solid rgba(255, 255, 255, 0.55);
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.authentication-input:hover {
  background: #ffffffc1;
  border: 1px solid var(--pink);
}

.authentication-remember {
  font-size: normal;
  margin-left: 40%;
  display: inline-block;
  margin-top: 17px;
}

.authentication-ac {
  display: inline-block;
  font-size: medium;
  margin-top: 24px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.authentication-ac a {
  text-decoration: underline;
  color: #685051;
}

.authentication-ac-logo {
  padding: 5px;
  size: 20px;
}

#toc {
  display: inline-block;
  margin-top: 10px;
}

.authentication-social-media {
  display: flex;
  justify-content: space-evenly;
}

.authentication-container h4 {
  width: 100%;
  text-align: center;
  line-height: 0.1em;
  margin: 10px 0 20px;
  padding-bottom: 10px;
}

.authentication-container h4 span {
  padding: 0 10px;
}

.authentication-social-mediaImg {
  width: 48px;
}

@media only screen and (max-width: 500px) {
  .authentication-container-wrapper {
    padding: 2em;
    margin: 1em;
  }

  .authentication-login-text {
    font-size: 1.5em;
  }

  .authentication-item {
    padding: 0.1em;
    text-align: center;
  }

  .authentication-container-wrapper label,
  button {
    padding: 0.1em;
  }

  .authentication-submit {
    margin-top: 1em;
    margin-bottom: 2em;
  }

  .authentication-submit button {
    padding: 0.5em 1em;
    border-radius: 4.7em;
    font-size: 14px;
  }

  form {
    margin: 1em auto 1em auto;
  }

  .authentication-input {
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
  }

  .authentication-remember {
    font-size: smaller;
    margin-left: 6em;
  }

  .authentication-ac {
    font-size: small;
  }

  #toc {
    font-size: small;
  }

  .authentication-social-mediaImg {
    width: 40px;
  }
  .authentication-container h4 span {
    font-size: medium;
  }
}

/* SVG  */
.icons8-facebook-circled {
  display: inline-block;
  height: 48px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iNDgiIGhlaWdodD0iNDgiCnZpZXdCb3g9IjAgMCA0OCA0OCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48bGluZWFyR3JhZGllbnQgaWQ9IkNYYW51d0Q5RUdrQmdUbjc2XzFteGFfcDYyQVNQSzJLcHFwX2dyMSIgeDE9IjkuOTkzIiB4Mj0iNDAuNjE1IiB5MT0iLTI5OS45OTMiIHkyPSItMzMwLjYxNSIgZ3JhZGllbnRUcmFuc2Zvcm09Im1hdHJpeCgxIDAgMCAtMSAwIC0yOTApIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjMmFhNGY0Ij48L3N0b3A+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjMDA3YWQ5Ij48L3N0b3A+PC9saW5lYXJHcmFkaWVudD48cGF0aCBmaWxsPSJ1cmwoI0NYYW51d0Q5RUdrQmdUbjc2XzFteGFfcDYyQVNQSzJLcHFwX2dyMSkiIGQ9Ik0yNCw0QzEyLjk1NCw0LDQsMTIuOTU0LDQsMjRjMCwxMC4wMjgsNy4zNzksMTguMzMxLDE3LjAwNCwxOS43NzcJQzIxLjk4MSw0My45MjQsMjIuOTgyLDQxLDI0LDQxYzAuOTE5LDAsMS44MjQsMi45MzgsMi43MTEsMi44MThDMzYuNDc1LDQyLjQ5NSw0NCwzNC4xMjcsNDQsMjRDNDQsMTIuOTU0LDM1LjA0Niw0LDI0LDR6Ij48L3BhdGg+PHBhdGggZD0iTTI3LjcwNywyMS4xNjljMC0xLjQyNCwwLjMwNS0zLjEyMSwxLjc1Ny0zLjEyMWg0LjI4M2wtMC4wMDEtNS42MTdsLTAuMDUtMC44NTJsLTAuODQ2LTAuMTE0CWMtMC42MDgtMC4wODItMS44NzMtMC4yNTMtNC4yMDYtMC4yNTNjLTUuNTY5LDAtOC42MzYsMy4zMTUtOC42MzYsOS4zMzR2Mi40OThIMTUuMDZ2Ny4yNThoNC45NDhWNDMuNglDMjEuMjk4LDQzLjg2MSwyMi42MzMsNDQsMjQsNDRjMS4yNjgsMCwyLjUwNC0wLjEzMSwzLjcwNy0wLjM1N1YzMC4zMDFoNS4wMzNsMS4xMjItNy4yNThoLTYuMTU1VjIxLjE2OXoiIG9wYWNpdHk9Ii4wNSI+PC9wYXRoPjxwYXRoIGQ9Ik0yNy4yMDcsMjEuMTY5YzAtMS4zNTMsMC4yOTMtMy42MjEsMi4yNTctMy42MjFoMy43ODNWMTIuNDZsLTAuMDI2LTAuNDRsLTAuNDMzLTAuMDU5CWMtMC41OTctMC4wODEtMS44MzgtMC4yNDktNC4xNDMtMC4yNDljLTUuMzIzLDAtOC4xMzYsMy4wNTUtOC4xMzYsOC44MzR2Mi45OThIMTUuNTZ2Ni4yNThoNC45NDh2MTMuODc0CUMyMS42NDQsNDMuODc2LDIyLjgwNiw0NCwyNCw0NGMxLjA5NCwwLDIuMTYtMC4xMTIsMy4yMDctMC4yODFWMjkuODAxaDUuMTA0bDAuOTY3LTYuMjU4aC02LjA3MlYyMS4xNjl6IiBvcGFjaXR5PSIuMDUiPjwvcGF0aD48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMjYuNzA3LDI5LjMwMWg1LjE3NmwwLjgxMy01LjI1OGgtNS45ODl2LTIuODc0YzAtMi4xODQsMC43MTQtNC4xMjEsMi43NTctNC4xMjFoMy4yODNWMTIuNDYJYy0wLjU3Ny0wLjA3OC0xLjc5Ny0wLjI0OC00LjEwMi0wLjI0OGMtNC44MTQsMC03LjYzNiwyLjU0Mi03LjYzNiw4LjMzNHYzLjQ5OEgxNi4wNnY1LjI1OGg0Ljk0OHYxNC40NzUJQzIxLjk4OCw0My45MjMsMjIuOTgxLDQ0LDI0LDQ0YzAuOTIxLDAsMS44Mi0wLjA2MiwyLjcwNy0wLjE4MlYyOS4zMDF6Ij48L3BhdGg+PC9zdmc+")
    50% 50% no-repeat;
  background-size: 100%;
}

.icons8-twitter {
  display: inline-block;
  height: 48px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iNDgiIGhlaWdodD0iNDgiCnZpZXdCb3g9IjAgMCA0OCA0OCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48bGluZWFyR3JhZGllbnQgaWQ9Il9vc245eklOMmY2UmhUc1k4V2hZNGFfNU1RMGdQQVlZeDdhX2dyMSIgeDE9IjEwLjM0MSIgeDI9IjQwLjc5OCIgeTE9IjguMzEyIiB5Mj0iMzguNzY5IiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjMmFhNGY0Ij48L3N0b3A+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjMDA3YWQ5Ij48L3N0b3A+PC9saW5lYXJHcmFkaWVudD48cGF0aCBmaWxsPSJ1cmwoI19vc245eklOMmY2UmhUc1k4V2hZNGFfNU1RMGdQQVlZeDdhX2dyMSkiIGQ9Ik00Ni4xMDUsMTEuMDJjLTEuNTUxLDAuNjg3LTMuMjE5LDEuMTQ1LTQuOTc5LDEuMzYyYzEuNzg5LTEuMDYyLDMuMTY2LTIuNzU2LDMuODEyLTQuNzU4CWMtMS42NzQsMC45ODEtMy41MjksMS43MDItNS41MDIsMi4wODJDMzcuODYsOC4wMzYsMzUuNjEyLDcsMzMuMTIyLDdjLTQuNzgzLDAtOC42NjEsMy44NDMtOC42NjEsOC41ODIJYzAsMC42NzEsMC4wNzksMS4zMjQsMC4yMjYsMS45NThjLTcuMTk2LTAuMzYxLTEzLjU3OS0zLjc4Mi0xNy44NDktOC45NzRjLTAuNzUsMS4yNjktMS4xNzIsMi43NTQtMS4xNzIsNC4zMjIJYzAsMi45NzksMS41MjUsNS42MDIsMy44NTEsNy4xNDdjLTEuNDItMC4wNDMtMi43NTYtMC40MzgtMy45MjYtMS4wNzJjMCwwLjAyNiwwLDAuMDY0LDAsMC4xMDFjMCw0LjE2MywyLjk4Niw3LjYzLDYuOTQ0LDguNDE5CWMtMC43MjMsMC4xOTgtMS40ODgsMC4zMDgtMi4yNzYsMC4zMDhjLTAuNTU5LDAtMS4xMDQtMC4wNjMtMS42MzItMC4xNThjMS4xMDIsMy40MDIsNC4yOTksNS44ODksOC4wODcsNS45NjMJYy0yLjk2NCwyLjI5OC02LjY5NywzLjY3NC0xMC43NTYsMy42NzRjLTAuNzAxLDAtMS4zODctMC4wNC0yLjA2NS0wLjEyMkM3LjczLDM5LjU3NywxMi4yODMsNDEsMTcuMTcxLDQxCWMxNS45MjcsMCwyNC42NDEtMTMuMDc5LDI0LjY0MS0yNC40MjZjMC0wLjM3Mi0wLjAxMi0wLjc0Mi0wLjAyOS0xLjEwOEM0My40ODMsMTQuMjY1LDQ0Ljk0OCwxMi43NTEsNDYuMTA1LDExLjAyIj48L3BhdGg+PC9zdmc+")
    50% 50% no-repeat;
  background-size: 100%;
}
