.PortfolioDash {
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: auto;
}

.wrapper {
    width: 100%;
    max-width: 31.25rem;
    margin: 1rem auto;
}

.label {
    font-size: .625rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: +1.3px;
    margin-bottom: 1rem;
}

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#searchInput {
    width: 100%;
    height: 2.8rem;
    background: rgba(255, 255, 255, 0.38);
    outline: none;
    border-radius: 16px;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.55);
}

#searchSubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}

#searchSubmit:hover {
    cursor: pointer;
}

.liststyle {
    width: 85%;
    background: rgba(255, 255, 255, 0.38);
    border-radius: 16px;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.55);
}

.list-group {
    justify-content: center;
    background-color: var(--glass);
    color: var(--black);
}

.list-group .list-group-item {
    background-color: transparent;
    border: none;
    font-size: 14px;
}

.list-group .list-group-item:hover {
    background-color: var(--pink);
    color: #FFFFFF;
}

th {
    font-size: 20px;
}

tbody, td, tfoot, th, thead, tr {
    border-style: none;
}

.formControl {
    background: rgba(255, 255, 255, 0.307);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.899);
    border-radius: 10px;
}
@media screen and (max-width: 1200px) {
    .PortfolioDash {
        justify-content: flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .PortfolioDash {
        align-items: center;
    }
}